* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk';
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

h1 {
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-left: 10px;
    margin-top: 10px;
}

body {
    background-color: #151515;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding: 16px;
    justify-self: space-between;
}

.introduction {
    color: white;
    padding: 16px;
}

.icon1 {
    margin-right: 10px
   
}

.icon2 { 
    margin-right: 10px
   
}  